@import url(../../../lib/globalStyles/globals.css);
@import url(./components/bookingForm.css);
@import url(./components/buttons.css);
@import url(./components/eventsDisplay.css);
@import url(./components/forms.css);
@import url(./components/overlay.css);
@import url(./layout/header.css);
@import url(./pages/home.css);

main {
  max-width: 1500px;
  margin: auto;
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  padding: 0 1em;
}

h1 {
  font-size: 32px;
}

.content-wrapper {
  display: block;
  position: relative;
  margin: auto;
  width: 100%;
}

footer .btn:hover {
  transform: scale(1);
  text-decoration: underline;
}
