/* .md-editor {
  flex-wrap: wrap !important;
  overflow: auto !important;
  max-width: 800px !important;
  margin: auto !important;
  min-width: 300px !important;
}

#md-editor-rt {
  width: 100% !important;
}

.md-editor-toolbar-wrapper {
  height: auto !important;
}

.md-editor-toolbar,
.md-editor-toolbar-left,
.md-editor-content {
  flex-wrap: wrap !important;
}

.md-editor-footer label {
  margin-bottom: 0;
}

@media (max-width: 700px) {
  .md-editor {
    min-width: 0px !important;
  }

  .md-editor-content {
    flex-direction: column;
  }

  .md-editor-input-wrapper {
    border-bottom: 1px solid grey;
  }
} */
