.booking-details-header {
  padding-bottom: 1em;
}

.booking-details-header p,
.booking-details-header h2 {
  margin: 0 auto;
  text-align: center;
}

.booking-details-info-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.booking-details .sub-table {
  height: fit-content;
}

.amount-total {
  background-color: white !important;
  border-top: 4px solid var(--color-primary-light);
}

.has-paid {
  background-color: white !important;
}
